<!doctype html>

<html lang="en">

<head th:replace="snippets.html :: name_head"></head>

<body>

<nav th:replace="snippets.html :: name_site_navbar"></nav>


<div class="container">

<div class="row">
<div class="col-6 mx-auto">
	
	<div class="card">
  	<div class="card-header">
    	Signup
  	</div>
  	<div class="card-body">
		<form class="form" id="signup-form" method="POST" th:action="@{/session/signup}">
			<div class="form-group">
				<label for="email" class="col-sm-12 col-form-label">Email</label>
			    <div class="col-sm-12">
			      <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email" required>
			    </div>
			</div>
			<div class="form-group">
			    <label for="password" class="col-sm-12 col-form-label">Password</label>
			    <div class="col-sm-12">
			      <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password" required>
			    </div>
			</div>
			<button type="submit" class="btn btn-primary ml-3 mt-3" id="signup">Signup</button>
		</form>
	</div>
	<div class="card-footer text-danger">
		[[${info.getMessage()}]]
	</div>
	
	</div>
	
	

</div> <!-- Col -->
</div> <!-- Row -->

</div> <!-- Container-->

<footer th:replace="snippets.html :: name_footer"></footer>

</body>

</html>
